<div class="header pb-6">
	<div class=" container-fluid">
		<div class=" header-body">
			<div class=" row align-items-center py-4">
				<div class=" col-lg-6 col-7">
					<h6 class=" h2 text-dark d-inline-block mb-0">Dashboard</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class=" row">
				<div class=" col-xl-3 col-md-6">
					<div class=" card card-stats">
						<div class=" card-body">
							<div class=" row">
								<div class=" col">
									<h5 class=" card-title text-uppercase text-muted mb-0">
										Total Vessel
									</h5>

									<span class=" h2 font-weight-bold mb-0"> 1420 </span>
								</div>

								<div class=" col-auto">
									<div class=" icon icon-shape bg-blue text-white rounded-circle shadow">
										<i class="fas fa-ship"> </i>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class=" col-xl-3 col-md-6">
					<div class=" card card-stats">
						<div class=" card-body">
							<div class=" row">
								<div class=" col">
									<h5 class=" card-title text-uppercase text-muted mb-0">
										New vessel
									</h5>

									<span class=" h2 font-weight-bold mb-0"> 102 </span>
								</div>

								<div class=" col-auto">
									<div class=" icon icon-shape bg-green text-white rounded-circle shadow">
										<i class="fas fa-plus-square"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class=" col-xl-3 col-md-6">
					<div class=" card card-stats">
						<div class=" card-body">
							<div class=" row">
								<div class=" col">
									<h5 class=" card-title text-uppercase text-muted mb-0">
										Sales
									</h5>

									<span class=" h2 font-weight-bold mb-0"> 924 </span>
								</div>

								<div class=" col-auto">
									<div class=" icon icon-shape bg-indigo text-white rounded-circle shadow">
										<i class="fas fa-tools"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class=" col-xl-3 col-md-6">
					<div class=" card card-stats">
						<div class=" card-body">
							<div class=" row">
								<div class=" col">
									<h5 class=" card-title text-uppercase text-muted mb-0">
										Total Cost
									</h5>

									<span class=" h2 font-weight-bold mb-0"> RM72819 </span>
								</div>

								<div class=" col-auto">
									<div class=" icon icon-shape bg-orange text-white rounded-circle shadow">
										<i class="fas fa-money-bill-wave"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class=" container-fluid mt--6">

	<div class="row">
		<div class="col">
			<div class="card">
				<div 
					class="leaflet-map" 
					leaflet 
					[leafletOptions]="leafletOptions"
					[leafletMarkerCluster]="markerClusterData"
				 	[leafletMarkerClusterOptions]="markerClusterOptions"
				 	(leafletMarkerClusterReady)="markerClusterReady($event)">
				</div>
			</div>
		</div>
	</div>

	<div class=" row">
		<div class=" col-xl-6">
			<div class="card">
				<div class=" card-header bg-secondary">
					<div class=" row align-items-center">
						<div class=" col">
							<h6 class=" text-muted text-uppercase ls-1 mb-1">Chart</h6>

							<h5 class=" h3 mb-0">Total Number of Vessel</h5>
						</div>

						<div class="col">
							<ul class="nav nav-pills justify-content-end">
								<li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"
									(click)="data = datasets[0]; updateOptions()">
									<a href="javascript:void(0)" class="nav-link py-2 px-3"
										[ngClass]="{ active: clicked === true }" data-toggle="tab"
										(click)="clicked = true; clicked1 = false">
										<span class="d-none d-md-block">Monthly</span>
										<span class="d-md-none">M</span>
									</a>
								</li>
								<li class="nav-item" data-toggle="chart" data-target="#chart-sales"
									(click)="data = datasets[1]; updateOptions()">
									<a href="javascript:void(0)" class="nav-link py-2 px-3"
										[ngClass]="{ active: clicked1 === true }" data-toggle="tab"
										(click)="clicked = false; clicked1 = true">
										<span class="d-none d-md-block">Weekly</span>
										<span class="d-md-none">W</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="card-body p-0 pt-2">
					<div id="chartTotal" style="width: 100%; height: 400px"></div>
				</div>
			</div>
		</div>

		<div class=" col-xl-6">
			<div class=" card">
				<div class=" card-header bg-secondary">
					<div class=" row align-items-center">
						<div class=" col">
							<h6 class=" text-uppercase text-muted ls-1 mb-1">Chart</h6>

							<h5 class=" h3 mb-0">Vessel Activity Cost</h5>
						</div>
					</div>
				</div>

				<div class="card-body p-0 pt-2">
					<div id="chartActive" style="width: 100%; height: 400px"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body p-0 pt-2">
					<div id="chartdiv1" style="width: 100%; height: 400px"></div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body p-0 pt-2">
					<div id="chartdiv2" style="width: 100%; height: 400px"></div>
				</div>
			</div>
		</div>
	</div>

</div>